@import 'tailwindcss';
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  margin: 0;
  padding: 0;
  position: relative;
  background-color: rgb(255, 255, 255)fd;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.Name{
  font-weight: 700;
  color: #0f52ba;
}
.Links{
  color: white;
}
.Links:hover{
  animation-duration: 6ms;
  transition: 1s;
  text-decoration: underline;
  color: #0f52ba;
}
.f-1{
  margin-top:5%;
  position: relative;
  left: 0%;
  right:0%;
}
.top{
  width: 100vw;
  background-color: #111111;
}
.bar{
  position: absolute;
  right: 0;
  top:0;
  left:0;
}
.a-1{
  text-align: left;
}
#searching{
  position: relative;
  top:-15vh;
}
.txt-1{
  color: #0f52ba;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.div-1{
  position: relative;
  top: -9vh;
}
.grid1{
  position: relative;
  left: 31.5%;
  height: 8vh;
}
.inputs{
  margin-left: 1vw;
}
#i-1{
  margin-top: -4.5vh;
}
.acc:hover{
  color: #0f52ba;
  transition: 500ms;
}
.btns:hover{
  transform: scale(1.1);
  transition: 600ms;
}
.flex1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbr{
  position: relative;
  top:-10%;
  width: 100vw;
}
#top1{
  position:absolute;
  top:0%;
  left:0%;
  background-color:#f6fafd;
  height: 10vh;
  padding-top: 1%;
}
#jobsearch{
  background-color:lightgray;
  border-radius: 10px;
  width: 25vw;
  height: 6vh;
  padding: 15px;
  margin-top: 20%;
  box-shadow: 0 4px 6px rgba(59, 130, 246, 0.5);
}
.jobcards{
  left: 100%;
  padding-top: 5%;
  text-align: left;
  height: 25vh;
  width: 32.5vw;
  box-shadow: 2px 4px 6px rgba(59, 130, 246, 0.5);
  border-radius: 5%;
  overflow: hidden;
}
.jdetails{
  font-size: small;
  padding-left: 5%;
  padding-top: 2%;
  overflow: hidden;
  font-weight: 500;
}
#cover{
  position:relative;
  left: -10%;
  bottom: 0%;
}
.shadows{
  box-shadow: 2px 4px 6px rgba(59, 130, 246, 0.5);
}
.abt{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 500;
}
.abt-img:hover{
  box-shadow: 4px 8px 12px rgba(59, 130, 246, 0.7);
  transition: 800ms;
}
#appsearch{
  background-color:lightgray;
  border-radius: 10px;
  width: 25vw;
  height: 6vh;
  padding: 5px;
  margin-top: 20%;
  box-shadow: 0 4px 6px rgba(59, 130, 246, 0.5);
}
#prof{
  clip-path: circle(50%);
  height:auto;
  background-color: black;
  position: relative;
  top: -5%;
  margin-bottom: 2vh;
} 