@import 'tailwindcss';
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  margin: 0;
  padding: 0;
  position: relative;
  background-color: white;
  height: 100vh;
  width: 100vw;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.Name{
  font-weight: 700;
  color: #0f52ba;
}
.Links{
  color: white;
}
.Links:hover{
  text-decoration: underline;
  color: #0f52ba;
}
.top{
  width: 100vw;
  background-color: #111111;
}
.bar{
  position: absolute;
  right: 0;
  top:0;
  left:0;
}
.a-1{
  text-align: left;
}
#searching{
  position: relative;
  top:-15vh;
}
.txt-1{
  color: #0f52ba;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.div-1{
  position: relative;
  top: -9vh;
}
.grid1{
  position: relative;
  left: 31.5%;
  height: 8vh;
}
.inputs{
  margin-left: 1vw;
}
#i-1{
  margin-top: -4.5vh;
}