@import 'tailwindcss';
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width:768px){
  #srchb1{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: -25vw;
    justify-items: center;
    align-items: center;

  }
  #appsearch{
    width: 70vw;
  }
  .srchbtn{
    margin-top: 2%;
    width: 40vw;
  }
  .sb{
    margin-top: 5%;
  }
  .l-1{
    display: none;
  }
  .sb{
    margin-top: 1.5vh;
  }
  .menu{
    background-color: transparent;
  }
  .flex-1{
    margin-left: 5vw;
  }
  .btns{
    height: 5vh;
    font-size: 1.48vh;
  }
  .logo{
    margin-left: -5%;
  }
  .menulinks{
    padding: 10px;
    margin-left: -30vw;
  }
  #top2{
    margin-top: 10vh;
  }
  #top2-div1{
    display: block;
    text-align: left;
    margin-left: -5vw;
    margin-top: -10%;
  }
  .desc{
    margin-left: -0.5vw;
    width: 90vw;
  }
  .o-links{
    display: flex;
    text-align: center;
    text-decoration: underline;
    color: #082d65;
    padding-top: 5vh;
    width: 100vw;
  }
  #message{
    width: 90vw;
  }
  .down{
    margin-top: 2vh;
  }
  #top1{
    height: 20vh;
    padding-bottom: 80px;
    width: 100vw;
  }
  .logo{
    margin-top: -10%;
  }
  .btns1{
    font-size: medium;
    padding-top: 1vh;
  }
  .title{
    font-size: 5vh;
  }
  .hide-1{
    display: none;
  }
  .abt-sec{
    display: flex;
    flex-direction: column;
  }
  .srchb2{
    display: none;
  }
  .ap-cards{
    display: flex;
    flex-direction:column;
    flex: 1;
  }
  .p-div{
    margin-left:0%;
    overflow-x: hidden;
  }
  .ap-card{
    width: 70vw;
    margin-left: 0%;
  }
  .txt-1{
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: -5%;
  }
  .btns{
    width: 35vw;
    margin-left:0%;
  }
  #btn-1{
    display: none;
  }
  #btn-2{
    display: flex;
    text-align: center;
    margin-top: 10%;
  }
  .marginr{
    margin-top:20%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 1rem;
  }
  .jobdetails{
    width: 70px;
  }
}
body{
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #f6fafd;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}
.logo{
  margin-top: -2%;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.Name{
  font-weight: 700;
  color: white;
}

.Links:hover{
  animation-duration: 6ms;
  transition: 1s;
  text-decoration: underline;
  color: #0f52ba;
}
.footer{
  background-color:#082d65;
}
.f-1{
  margin-top:5%;
  position: relative;
  left: 0%;
  right:0%;
}
.hide{
  display: none;
}

.menu{
  width: 15vw;
  position: absolute;
  right: 20%;
}
.top{
  width: 100vw;
  background-image: url('/pexels-tima-miroshnichenko-5439469.jpg');
  background-blend-mode: multiply;
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent);
  mask-image: linear-gradient(to bottom, black 90%, transparent);
  filter: contrast(1.3);
  filter: saturate(1.3);
  background-size: cover;
  background-position:left;
  background-repeat: no-repeat;
}
.a-f{
  position: absolute;
  left: -10%;
}
.bar{
  position: absolute;
  right: 0;
  top:0;
  left:0;
}
.a-1{
  text-align: left;
}
#searching{
  position: relative;
  top:-15vh;
}
.txt-1{
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0;
}
.div-1{
  position: relative;
  top: -9vh;
}
.grid1{
  position: relative;
  left: 31.5%;
  height: 8vh;
}
.inputs{
  margin-left: 1vw;
}
#i-1{
  margin-top: -4.5vh;
}
.acc:hover{
  color: #0f52ba;
  transition: 500ms;
}
.btns .btns1:hover{
  transform: scale(1.1);
  transition: 600ms;
}
.flex1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbr{
  position: relative;
  top:-10%;
  width: 100vw;
}
#top1{
  position:absolute;
  top:0%;
  left:0%;
  background-color:#24005f;
  height: 10vh;
  padding-top: 1%;
}
#jobsearch{
  background-color:lightgray;
  border-radius: 10px;
  width: 25vw;
  height: 6vh;
  padding: 15px;
  margin-top: 20%;
  box-shadow: 0 4px 6px rgba(59, 130, 246, 0.5);
}
.jobcards{
  left: 100%;
  padding-top: 5%;
  text-align: left;
  height: 25vh;
  width: 20vw;
  box-shadow: 2px 4px 6px rgba(59, 130, 246, 0.5);
  border-radius: 5%;
  overflow: hidden;
}
.jdetails{
  font-size: small;
  padding-left: 5%;
  padding-top: 4%;
  overflow: hidden;
  font-weight: 500;
}
#cover{
  position:relative;
  left: -10%;
  bottom: 0%;
}
.shadows{
  box-shadow: 2px 4px 6px rgba(59, 130, 246, 0.5);
}
.abt{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 500;
}
.abt-img:hover{
  box-shadow: 4px 8px 12px rgba(59, 130, 246, 0.7);
  transition: 800ms;
}
#appsearch{
  background-color:lightgray;
  border-radius: 10px;
  padding: 5px;
  margin-top: 2%;
  box-shadow: 0 4px 6px rgba(59, 130, 246, 0.5);
}
#prof{
  clip-path: circle(35%);
  height:auto;
  background-color: black;
  position: relative;
  top: -5%;
  margin-bottom: 2vh;
}
.bck{
  display: flex;
  justify-content: flex-start;
  padding-left: 3vw;
} 
.top1{
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: 500;
}
#top2-div{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#top2{
  background-color: #24005f;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
}
#top2-div1{
  position: absolute;
  top: 43%;
}
#img1{
  clip-path: circle(50%);
}
.centr{
  position: absolute;
  left: 50%;
}